<!DOCTYPE html>
<html>
<body>
    <div class="container">
    <div class="content">
      <div class="row">
        <div id="edit-form" class='col-sm-offset-4 col-sm-4'>
          <div>
            <h2 id ="header">Edit Goals</h2>
            <%if (error) { %>
            <font color="red"><%= error %></font><p>
            <% } %>
            <form action="/edit" method="post">
              <fieldset>
                <div class="form-group">
                  <label for='carbs'>Carbs:</label>
                  <input class = "form-control" id="carbs" type="text" name="carbs" value= <%= carbs %>>
                </div>
                <div class="form-group">
                  <label for='protein'>Protein:</label>
                  <input class = "form-control" id="protein" type="text" name="protein" value= <%= protein %>>
                </div>
                <div class="form-group">
                  <label for='fat'>Fat:</label>
                  <input class = "form-control" id="fat" type="text" name="fat" value= <%= fat %>>
                </div>
                <%if (goals == 1) { %>
                  <div class="form-group">
                    <label for="goals">Goals are visible on Public Page: </label>
                    <input class = "form-control" id="goals" type="checkbox" name="goals", checked="checked">
                  </div>
                <% } else { %>
                  <div class="form-group">
                    <label for="goals">Goals are visible on Public Page: </label>
                    <input class = "form-control" id="goals" type="checkbox" name="goals" >
                  </div>
                <% } %>

                <%if (food == 1) { %>
                  <div class="form-group">
                    <label for="food">Food consumed is visible on Public Page: </label>
                    <input class = "form-control" id="food" type="checkbox" name="food", checked="checked">
                  </div>
                <% } else { %>
                  <div class="form-group">
                    <label for="food">Food consumed is visible on Public Page:</label>
                    <input class = "form-control" id="food" type="checkbox" name="food" >
                  </div>
                <% } %>


>>>>>>> 7c0a3ba18d550f9de20f99c192a4685353ec4dff
                <button class="btn primary" type="submit">Update Goals</button>
              </fieldset>
            </form>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
