<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href='/stylesheets/bootstrap/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/loginPage.css' />
    <!-- JQuery -->
    <script src="/javascripts/jquery-1.12.2.min.js"></script>
    <!-- Parsley -->
    <script src='/javascripts/parsley.js'></script>
  </head>

  <body>

    <script src='/javascripts/resolveLoginCredentialsFacebook.js'></script>

    <div class="container">
    <div class="content">

      <div class="alert alert-danger hidden" role="alert">
        <a href="#" class="alert-link">Login Unsuccesful -- Check your username/password</a>
      </div>

      <div class="row">
        <div id="login-form" class='col-sm-offset-4 col-sm-4'>
          <div>
            <h2 id ="header">Login</h2>
            <%if (error) { %>
            <font color="red"><%= error %></font><p>
            <% } %>
            <form action="/login" method="post" data-parsley-validate id="login-form-root">
              <fieldset>
                <div class="form-group">
                  <label for='username'>Username:</label>
                  <input class = "form-control" id="username" type="text" name="username"
                  data-parsley-required minlength="4">
                </div>
                <div class="form-group">
                  <label for='password'>Password:</label>
                  <input class = "form-control" id="password" type="password" name="password"
                  data-parsley-required minlength="4">
                </div>

                <div class="row centered-row">
                  <button class="btn primary btn-submit" type="submit">Sign in</button>

                  <button type="button" class="btn btn-default btn-white">
                    <a href = "/signup">Sign up</a>
                  </button>

                  <div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false"
                  data-auto-logout-link="false" onlogin='storeCredentials();' data-scope='public_profile'>
                  </div>
                </div>

              </fieldset>
            </form>
            <p>

            </p>
          </div>

        <script>
            $(function () {
              $('#login-form-root').parsley()
              .on('form:submit', function() {
                // Any given field is validated - show warning if issues
                var ok = $('.parsley-error').length === 0;
                $('.alert-danger').toggleClass('hidden', ok);
                return ok;
              });
            });
        </script>


      </div>
    </div>
  </div>
  </body>


</html>
