<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
   <!--  Include bootstrap from CDN-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!--  Custom Style sheets -->

    <link rel='stylesheet' href='/stylesheets/newEntryPage.css' />
    <link rel='stylesheet' href='/stylesheets/users.css' />
    <!-- JQuery -->
    <script src="/javascripts/jquery-1.12.2.min.js"></script>
    <!-- Parsley -->
    <script src='/javascripts/parsley.js'></script>
    <!-- Include bootstrap JS from CDN-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  </head>
  <body>

<!-- NAVIGATION BAR -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Food Tracker</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active">
                <button type="button" id="new_food_entry_button" class="btn btn-action navbar-btn" onclick="location.href='/newEntry';">New Manual Entry</button>
            </li>
            <li class="active">
                <button type="button" id="new_search_entry_button" class="btn btn-action navbar-btn" onclick="location.href='/search';">New Search Entry</button>
            </li>
            <li class="active">
                <button type="button" id="new_fav_entry_button" class="btn btn-action navbar-btn" onclick="location.href='/favorites';">New Entry From Favorites</button>
            </li>
            <li>
                <button type="button" id="new_exercise_entry_button" class="btn btn-action navbar-btn" onclick="location.href='/newExerciseEntry';">New Exercise Entry</button>
            </li>
            <li class="active">
                <button type="button" id="calculator_button" class="btn btn-action navbar-btn" onclick="location.href='/calculator';">Calorie Calculator</button>
            </li>
            <li class="active">
                <button type="button" id="history_button" class="btn btn-action navbar-btn" onclick="location.href='/history';">History</button>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/edit">Edit</a></li>
                <li><a href="/public/<%= username %>">Public View</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
    <div class="content">

        <div class="alert alert-success hidden" role="alert">
            <a href="#" class="alert-link">This entry looks great! Submit it!</a>
        </div>

        <div class="alert alert-warning hidden" role="alert">
          <a href="#" class="alert-link">There's something wrong with your entry!</a>
        </div>

        <div class="alert alert-danger hidden" role="alert">
          <a href="#" class="alert-link">Fix your entry before you submit it!</a>
        </div>


      <div class="row">
        <div id="login-form" class='col-sm-offset-4 col-sm-4'>
          <div>
            <h2 id ="header">New Diary Entry</h2>
            <%if (error) { %>
            <font color="red"><%= error %></font><p>
            <% } %>


            <form action='/newEntry' method='post' id='foodEntryFORM' data-parsely-validate>
            <!-- Food entry -->
            <fieldset>
            <div class="form-group">
                <label for="food_input" class="form-control-label">Food | Beverage</label>
                <div>
                    <input type="text" class="form-control" id="food_input" placeholder="Consumable" name="food_input" data-parsley-required minlength='3' maxlength='50' pattern='^[A-Za-z\s]+$' data-parsley-trigger="keyup focusout">
                </div>
            </div>
            <div class="form-group">
                <label for="quantity_measure" class="form-control-label">Qty. Measure (QM)</label>
                <div>
                    <select class="form-control" id="quantity_measure" name="quantity_measure">
                        <option>Servings</option>
                        <option>Handfuls</option>
                        <option>Tbsp.</option>
                        <option>Tsp.</option>
                        <option>fl. oz.</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="meal_choice" class="form-control-label">Meal</label>
                <div>
                    <select class="form-control" id="meal_choice" name="meal_choice" data-parsley-required>
                        <option>Breakfast</option>
                        <option>Lunch</option>
                        <option>Dinner</option>
                        <option>Snack</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="quantity_choose" class="form-control-label">Qty.</label>
                <div>
                    <select class="form-control" id="quantity_choose" name="quantity_choose" data-parsley-required>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="fat_input" class="form-control-label">Fat per QM </label>
                <div>
                    <input type="text" class="form-control" id="fat_input" placeholder="Fat" name="fat_input" data-parsley-required type='number' min='1' max='10000' data-parsley-trigger="keyup focusout" data-parsley-validation-threshold="1" >
                </div>
            </div>
            <div class="form-group">
                <label for="protein_input" class="form-control-label">Protein per QM</label>
                <div>
                    <input type="text" class="form-control" id="protein_input" placeholder="Protein" name="protein_input" data-parsley-required type='number' min='1' max='10000' data-parsley-trigger="keyup focusout" data-parsley-validation-threshold="1" >
                </div>
            </div>
            <div class="form-group">
                <label for="carbs_input" class="form-control-label">Carbs per QM</label>
                <div>
                    <input type="text" class="form-control" id="carbs_input" placeholder="Carbs" name="carbs_input" data-parsley-required type='number' min='1' max='10000' data-parsley-trigger="keyup focusout" data-parsley-validation-threshold="1" >
                </div>
            </div>
            <div class="form-group centered-items">
                <label> Add to Favorites </label>
                <input id="add_to_favorites" name="add_to_favorites" class="form-control" type="checkbox" value="true"></input>
            </div>
            </fieldset>
            <div class="form-group centered-items">
                <button id="completed_food_entry" class="btn btn-submit" type="submit">Complete</button>
            </div>
            </fieldset>
        </form>
        <!-- Parsely form validation -->
        <script type="text/javascript">
            $(function () {
              $('#foodEntryFORM').parsley()
              .on('field:validated', function() {
                // Any given field is validated - show warning if issues

                var ok = $('.parsley-error').length === 0;
                $('.alert-warning').toggleClass('hidden', ok);
                $('.alert-danger').toggleClass('hidden', true);
              })
              .on('form:validated', function () {
                var ok = $('.parsley-error').length === 0;
                $('.alert-warning').toggleClass('hidden', true);
                $('.alert-success').toggleClass('hidden', !ok);
                $('.alert-danger').toggleClass('hidden', ok);
              })
              .on('form:submit', function() {
                return true; // Don't submit form for this demo
              });
            });
        </script>
            <p></p>
          </div>

        </div>
      </div>
    </div>
  </div>
  </body>
</html>
