<!DOCTYPE html>
<html>
<body>
    <div class="container">
    <div class="content">
      <div class="row">
        <div id="edit-form" class='col-sm-offset-4 col-sm-4'>
          <div>
            <h2 id ="header">Public Page</h2>
              </fieldset>
            </form>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
