<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>
    <div class="container">
    <div class="content">
      <div class="row">
        <div id="login-form" class='col-sm-offset-4 col-sm-4'>
          <div>
            <h2 id ="header">Sign Up</h2>
            <%if (error) { %>
            <font color="red"><%= error %></font><p>
            <% } %>
            <form action="/signup" method="post">
              <fieldset>
                <div class="form-group">
                  <label for='fullname'>Full name:</label>
                  <input class = "form-control" id="fullname" type="text" name="fullname">
                </div>
                <button class="btn primary" type="submit">Create Account</button>
              </fieldset>
            </form>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
