<!DOCTYPE html>
<html>
  <head>
    <title>User Page</title>
        <!--  Include bootstrap from CDN-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <!--  Custom Style sheets -->
        <link rel='stylesheet' href='/stylesheets/userPage.css' />
        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Include bootstrap JS from CDN-->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<!--         <script type="text/javascript" src="../javascripts/userVis.js"></script>
 -->

  </head>

  <body>

        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            Success! message sent successfully.
        </div>

    <!-- NAVIGATION BAR -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" id="new_food_entry_button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for t

        oggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active">
                <button type="button" class="btn btn-primary navbar-btn">New Entry</button>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>



    <!-- Container for the New Food entry form. -->
    <div class="container-fluid" >

        <h1> NEW FOOD ENTRY </h1>
        <form>
            <!-- Food entry -->
            <div class="form-group row">
                <label for="foodinput" class="col-sm-2 form-control-label">Food</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="foodinput" placeholder="Consumable">
                </div>
            </div>
            <div class="form-group row">
                <label for="quantitymeasure" class="col-sm-2 form-control-label">Quantity Meas.</label>
                <div class="col-sm-3">
                    <select class="form-control" id="quantitymeasure">
                        <option>Servings</option>
                        <option>Handfuls</option>
                        <option>Tbsp.</option>
                        <option>Tsp.</option>
                        <option>fl. oz.</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="quantity_choose" class="col-sm-2 form-control-label">Qty.</label>
                <div class="col-sm-3">
                    <select class="form-control" id="quantity_choose">
                        <option>1</option>
                        <option>2</option>
                        <option>3.</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="fat_input" class="col-sm-2 form-control-label">Fat</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="fat_input" placeholder="Fat">
                </div>
            </div>
            <div class="form-group row">
                <label for="protein_input" class="col-sm-2 form-control-label">Protein</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="protein_input" placeholder="Protein">
                </div>
            </div>
            <div class="form-group row">
                <label for="carbs_input" class="col-sm-2 form-control-label">Carbs</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="carbs_input" placeholder="Carbs">
                </div>
            </div>
            <div class="form-group row">
                <button id="myButton" class="btn primary" type="submit">Create Account</button>
            </div>

            <script>
                $(document).ready(function () {
                  $('.alert').hide();
                });

                $('#myButton').on('click', function (e) {
                      e.preventDefault();
                     $('.alert').show();
                 });
            </script>


        </form>
    </div>







  </body>
</html>
