<!DOCTYPE html>
<html>
 <head>
    <title>User Page</title>
        <!--  Include bootstrap from file-->
        <link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.min.css">
        <!-- JQuery -->
        <script src="/javascripts/jquery-1.12.2.min.js"></script>
        <!-- Include bootstrap JS from CDN-->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

        <!-- plotting lib -->
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/data.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>


        <link rel="stylesheet" href="/stylesheets/datepicker.css">
        <link rel="stylesheet" href="/stylesheets/users.css">
        <link rel="stylesheet" href="/stylesheets/globalStyle.css">

        <script src="/javascripts/bootstrap-datepicker.js"></script>
        <script src="/javascripts/weight.js"></script>

  </head>

  <body>

    <!-- NAVIGATION BAR -->
    <nav class="navbar navbar-default">
      <div class="container-fluid" id="header-container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Food Tracker</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active">
                <button type="button" id="new_food_entry_button" class="btn btn-action navbar-btn" onclick="location.href='/newEntry';">New Manual Entry</button>
            </li>
            <li class="active">
                <button type="button" id="new_search_entry_button" class="btn btn-action navbar-btn" onclick="location.href='/search';">New Search Entry</button>
            </li>
            <li class="active">
                <button type="button" id="new_fav_entry_button" class="btn btn-action navbar-btn" onclick="location.href='/favorites';">New Entry From Favorites</button>
            </li>
            <li>
                <button type="button" id="new_exercise_entry_button" class="btn btn-action navbar-btn" onclick="location.href='/newExerciseEntry';">New Exercise Entry</button>
            </li>
            <li class="active">
                <button type="button" id="calculator_button" class="btn btn-action navbar-btn" onclick="location.href='/calculator';">Calorie Calculator</button>
            </li>
            <li class="active">
                <button type="button" id="history_button" class="btn btn-action navbar-btn" onclick="location.href='/history';">History</button>
            </li>
            <li class="active">
                <button type="button" id="weight_button" class="btn btn-action navbar-btn" onclick="location.href='/weight';">Weight</button>
            </li>
            <li class="active">
              <form action="/users" method="post">
                <button class="btn btn-action navbar-btn" type="submit">Download History</button>
            </form>

            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/edit">Edit</a></li>
                <li><a href="/public/<%= username %>">Public View</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <!-- Show "analytics" - currently just remaining goals -->


<body>
    <div class="container">
    <div class="content">
      <div class="row">
        <div id="edit-form" class='col-sm-offset-4 col-sm-4'>
          <div>
            <h2 id ="header">Weight</h2>
            <form action="/weight" method="post">
              <fieldset>
                <div class="form-group">
                  <label for='weight'>Weight:</label>
                  <input class = "form-control" id="weight" type="text" name="weight" value= <%= lastWeight %>>
                </div>
                <button class="btn primary" type="submit">Update</button>
              </fieldset>
            </form>
            <p></p>
          </div>
        </div>
      </div>


      <div class = "row">
        <div class="col-sm-10 col-sm-offset-1">
          <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>
      </div>
    </div> <!-- container fluid -->
<pre id="csv" style="display:none">

Date, Weight
<% for (var i = 0; i < date_arr.length; i++){ %>
<%= date_arr[i] %>,<%= weight_arr[i] %>
<% } %>
</pre>
    <script src="../javascripts/userVis.js"></script>
    <!-- <script src="../javascripts/userVis.js"></script> -->


    </div>
  </div>
</body>
</html>
