.btn {
  border-radius: 2px;
  margin-right: 10px;
}
.btn-white {
  border-radius: 2px;
  margin-right: 10px;
  background-color: #ffffff;
  color: #1A1A1A;
}
.btn-white:hover {
  color: #266BC9;
}
.form-control {
  border-radius: 2px;
  margin-right: 10px;
}
.btn-submit {
  border-radius: 2px;
  margin-right: 10px;
  background-color: #266BC9;
  color: #ffffff;
}
.btn-submit:hover {
  color: #1A1A1A;
}
.btn-action {
  border-radius: 2px;
  margin-right: 10px;
  background-color: #FFAA1D;
  color: #1A1A1A;
}
.btn-action:hover {
  color: #266BC9;
}
.form-control {
  box-shadow: none;
}
.form-control:focus {
  box-shadow: inset 0 1px 1px #266BC9;
}
.centered-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#header-container {
  background-color: #266BC9;
  font-weight: bold;
}
#header-container a {
  color: #1A1A1A;
}
#header-container .dropdown-toggle {
  color: #ffffff;
}
#header-container .navbar-brand {
  color: #ffffff;
}
#header-container .btn-action {
  color: #ffffff;
}
html,
body {
  background-color: #ffffff;
}
.container {
  width: 300px;
}
#login-form {
  color: #1A1A1A;
  border: 1px solid #EAEAEA;
  border-radius: 2px;
  background: #F6F6F6;
  width: 300px;
  margin: 0 auto;
  transform: translateY(5px);
  margin-bottom: 10px;
}
#header {
  text-align: center;
}
fieldset {
  padding-bottom: 10px;
}
a {
  color: #1A1A1A;
}
a:hover {
  color: #266BC9;
}
.centered-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
